**/.DS_Store
**/Thumbs.db
**/desktop.ini
*.log
*.tmp
*.temp

**/__pycache__/
**/*$py.class
**/.Python
**/build/
**/lib/
**/lib64/
**/MANIFEST
**/.pytest_cache/
**/.coverage
**/.env
**/.venv
**/venv/
**/ENV/

**/*.class
**/*.war
**/*.ear
**/*.nar
**/hs_err_pid*
**/replay_pid*
**/*.hprof
**/target/
**/out/
**/.settings/
**/.project
**/.classpath

**/.vscode/
**/*.code-workspace
**/.history/

**/.idea/
**/*.iml
**/*.ipr
**/*.iws
**/modules.xml
**/workspace.xml

**/.AppleDouble
**/.LSOverride

**/[Dd]esktop.ini
**/$RECYCLE.BIN/
**/OneDrive*/

**/.cr/
**/.factorypath
**/.loadpath